:root {
    --black: #222;
    --grey: #EAEDED;
    --gold: #efbd69;
    --white: #fff;
    --blue: #232f3f;
    --blue-dark: #131921;
    --red: #f00;
    --red-dark: rgb(124,11,11);
    --fs-12: 12px;



    --font-Arial: Arial, Helvetica, sans-serif;
    --font-montserrat: 'Montserrat', 'sans-serif';



}