:root {
    --black: #222;
    --grey: rgb(222, 213, 213);
    --gold: #efbd69;
    --white: #eee;
    --blue: #232f3f;
    --blue-dark: #131921;
    --fs-12: 12px;
    --font-Arial: Arial, Helvetica, sans-serif;



}