body {
    font-family: var(--font-Arial);
    font-size: var(--fs-12);
    background-color: var(--grey);
    
}

/* Header */
header {
    background-color: var(--blue-dark);
    color: #fff;
    
}


.logo img {
    height: auto;
    width: 100%;

}


.icon {
    color: var(--white);
}

.formPesquisa {

    border: 3px solid ;
    background-color: var(--white);
    border-radius: 10px;


}

.formPesquisa select,
.formPesquisa input,
.formPesquisa button {

    height: 40px;
    border: none;
    outline: none;



}

.formPesquisa select {
    background-color: #dadada;
    padding-left: 10px;
    width: 35%;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;





}

.formPesquisa input {
    width: 48%;



}

.formPesquisa button {
    padding: 0 10px;
    float: right;
    width: 15%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;


}

.login span {
    display: block;
  
}


.car-Itens {
    font-weight: bold;
    font-size: 16px; 
   
    color: goldenrod;
    position: relative;
    top: -5px;
    right: -29px;
  
    
    
}

.carrinho i {

    color: var(--white);
    font-size: 38px;
   
 
  
   
  
}

@media(max-width: 760px) {
    .formPesquisa select {

        display: none;
    }

    .formPesquisa input {
        width: 85%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-left: 10px;



    }
}

/* Fim Header */

/* Início Nav */

.menu a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.0em;
    padding: 10px;
    
}



nav ul li {

    display: inline-block;

}
/* Fim Nav */

/* Carousel */

.carousel {
    height: 100%;
    min-height: 500px;
    background-image: url(/img/banner/propaganda.jpg);
    background-position: top;
    background-size: cover;
    position: relative;

}
/* Fim Carousel */

/* Início section */

section {
    background-image:linear-gradient(transparent,var(--grey)30%) ;
    position: relative;
    top: -250px;
}




.produto {
    padding: 0 5px;
  
   

}

.produto a {
    text-decoration: none;
    color: var(--black);
}

.produto-comum .valor span {
    text-decoration: line-through;

}

.produto .descricao {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.produto-comum ,
.produto-amazon ,
.produto-noticia ,
.produto-item {
    padding: 15px;
    background-color: var(--white);
    height: 330px;
    position: relative;
}

.produto-comum div {
    height: 60%;
    overflow: hidden;
    text-align: center;
   
}

.produto-amazon div{
    width: 30%;
    float: left;
    

}

.produto-item div {
    background-color: aqua;
    max-height: 130px;
    min-height: 100px;
    margin-bottom: 15px;
    
}

.produto-item div{
    
    
}

.produto-item span{
    
    padding: 5px 11px;
    border-radius: 8px;
    background-color: #FFD815;
    border:groove 1px #FFD815;
    
    
}

.produto-item a {
    
  
}
/*  */

.produto-crianca {}

.produto-frete {}

.produto-oferta {}

/* .produto-compra p {
    overflow: hidden;
    text-overflow: ellipsis;
} */

.produto-compra, 
.produto-crianca, 
.produto-frete, 
.produto-oferta {
    
    
    padding: 15px;
    background-color: var(--white);
    height: 330px;
    position: relative;

}


.produto-compra div{
  
    float: left;
    width: 50%;
    padding: 1%;
   
     
}
/*  */

/* .produto-info img {
    border: 1px red solid;
} */

.produto-serie,
.produto-filme,
.produto-info,
.produto-disco {
    
    padding: 15px;
    background-color: var(--white);
    height: 330px;
    position: relative;

}
.produto-info p {
    
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.produto-info div {

    float: left;
    width: 50%;
    padding: 1%;

}

.produto-noticia{
    position: relative;

}
.saibaMais {
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    left: 0;
    
  
}
/* .saibaMais a {
    color: var(--green);
    font-weight: 600;
}

.saibaMais a:hover {
    color: var(orange);
    text-decoration: underline;
} */


/* Fim Section */