body {
    font-family: var(--font-Arial);
    font-size: var(--fs-12);
}

/* Header */
header {
    background-color: #131921;
    color: #fff;
}


.logo img {
    height: auto;
    width: 100%;

}


.icon {
    color: var(--white);
}

.formPesquisa {

    border: 3px solid;
    background-color: var(--white);
    border-radius: 10px;


}

.formPesquisa select,
.formPesquisa input,
.formPesquisa button {

    height: 40px;
    border: none;
    outline: none;



}

.formPesquisa select {
    background-color: #dadada;
    padding-left: 10px;
    width: 35%;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;





}

.formPesquisa input {
    width: 48%;



}

.formPesquisa button {
    padding: 0 10px;
    float: right;
    width: 15%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;


}

.login span {
    display: block;
}

.carrinho {}

.carrinho i {

    color: rgb(244, 250, 244);
    font-size: 38px;
}

@media(max-width: 760px) {
    .formPesquisa select {

        display: none;
    }

    .formPesquisa input {
        width: 85%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-left: 10px;



    }
}

/* Fim Header */

/* Início Nav */
nav {

    border: 1px solid rgb(14, 13, 13);
    background-color: #222f3e;
    overflow: auto;



}

.hiperlinknav {

    display: inline-block;


}

.hiperlinknav a {

    display: inline-block;
    padding: 13px 10px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;




}

.imgnavbar {


    float: right;




}

@media(max-width: 1176px) {
    nav {
        text-align: center;

    }

}

@media(max-width: 1176px) {
    [class="imgnavbar"] {


        display: block;
        float: none;







    }

}


/* Fim Nav */

/* Início */
section div {}

.propaganda {

    position: relative;
}

.containerblocos {

    position: absolute;
    top: 45%;

}

.blocos {

    display: inline-block;
    background-color: #fefffb;
    border: #131921 solid 3px;
    width: 288.33px;
    height: 420px;







}