body {
    font-family: var(--font-Arial);
    font-size: var(--fs-12);
    
}

/* Header */
header {
    background-color: var(--blue-dark);
    color: #fff;
}


.logo img {
    height: auto;
    width: 100%;

}


.icon {
    color: var(--white);
}

.formPesquisa {

    border: 3px solid ;
    background-color: var(--white);
    border-radius: 10px;


}

.formPesquisa select,
.formPesquisa input,
.formPesquisa button {

    height: 40px;
    border: none;
    outline: none;



}

.formPesquisa select {
    background-color: #dadada;
    padding-left: 10px;
    width: 35%;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;





}

.formPesquisa input {
    width: 48%;



}

.formPesquisa button {
    padding: 0 10px;
    float: right;
    width: 15%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;


}

.login span {
    display: block;
}


.carrinho i {

    color: rgb(244, 250, 244);
    font-size: 38px;
}

@media(max-width: 760px) {
    .formPesquisa select {

        display: none;
    }

    .formPesquisa input {
        width: 85%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-left: 10px;



    }
}

/* Fim Header */

/* Início Nav */

.menu a {
    color: var(--white);
    text-decoration: none;
}

nav ul li {

    display: inline-block;

}
/* Fim Nav */

/* Início section */

.carousel {
   
    height: 100%;
    min-height: 200px;
  

}


.produto {
    padding: 0 5px;
    height: 350px ;
   

}

.produto a {
    text-decoration: none;
    color: var(--black);
}


.produto-comum div {
    height: 50%;
    overflow: hidden;
    text-align: center;
   
}

.produto-comum .valor span {
    text-decoration: line-through ;

}
.produto-comum img {

}


.produto-amazon{

}
.produto-noticia{

}

.produto-item {}


/* Fim Section */