/* * {
    border: solid 1px red;
} */

.fs-xs {
    font-size: var(--fs-xs);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-xsm {
    font-size: 0.7em;
}

.fs-esm {
    font-size: 0.6em;
}


li {
    list-style: none;
}

.cart {

    margin: 25px 0;
    padding: 10px;
}


.cart section>div,
.cart aside>div {
    background-color: var(--white);
    margin-bottom: 10px;
    padding: 20px;
}

